.vscode/settings.json
teste.cpp
.DS_Store
new-CSES/olhardepois.cpp
output/
template.sh
new-CSES/cses-2413.cpp
new-CSES/cses-1082.cpp
new-CSES/cses-2182.cpp
new-CSES/cses-1653.cpp
outros/manipulacao-de-bits.cpp
