.vscode/settings.json
teste.cpp
.DS_Store
output/
template.sh
new-CSES/cses-2413.cpp
new-CSES/cses-1082.cpp
new-CSES/cses-2182.cpp
new-CSES/cses-1653.cpp
outros/manipulacao-de-bits.cpp
.cph/
new-CSES/cses-2220.cpp
OBI/obi-2020-paciente-zero.cpp
maratona/fase0/
new-CSES/cses-1160.cpp
juizes/vjudge-s9-A-2.cpp
juizes/neps-790.cpp
contest/
juizes/compasso.py
new-CSES/cses-1693.cpp
new-CSES/cses-1724.cpp
maratona/maratona-2020-reg-J.bin
maratona/maratona-2020-subreg-K_TLE_2.cpp
maratona/maratona-2020-subreg-K_TLE.cpp
.gitignore
maratona/maratona-2020-reg-B.cpp
